h2 {
    color: white;
}

.wrapper {
    padding: 50px 0;
}

.city {
    display: block;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin: 5px 0;
}

.phone {
    text-align: center;
}

.address {
    text-align: center;
}

.homeIcon {
    vertical-align: center;
    margin-right: 10px;
    font-size: 23px;
    position: relative;
    top: 5px;
}

.mat-card {
    background: rgba(66, 66, 66, 0.9);
}

.mat-form-field-infix {
    width: 33% !important;
}
