h2{
    color: white;
}
.wrapper{
    background: url("https://besthqwallpapers.com/img/original/38329/mercedes-c63-amg-2017-w205-gray-sedan-tuning.jpg") no-repeat  top center;
    width: 100%;
    background-size: cover;
    padding: 0 10px;
    overflow-x: hidden;
}
.mat-card{
    background: rgba(66, 66, 66, 0.9);
}
